

/* 样式表 */
  html {
      font-family: sans-serif;
      background: #eee;
      padding: 1rem;
  }

  body {
      margin: 0 auto;
      background: white;
  }
  h1{
        color: #fff;
  }
  h2, h3, h4, h5, h6 {
      color: #377ba8;
  }

  a {
  color: #377ba8;
  }
  /* header {
    display: flex;
    justify-content: space-between;
    align-items: normal;
    padding: 5px;
     }
   */
  hr {
    border: none;
    border-top: 1px solid lightgray;
  }
  /* 为包含图片的父元素设置样式 */
  .logo_container {
    position: relative; /* 设置为相对定位 */
    text-align: center; /* 图片水平居中 */
    height: 30vh; /* 高度设置为视口高度，填满整个视口 */
    overflow: hidden; /* 隐藏溢出的部分 */
  }
  .title-container {
    position: absolute; /* 绝对定位 */
    top: 3%; /* 标题位于主图的中间 */
    left: 8%;
    transform: translate(-5%, -5%); /* 居中对齐 */
    z-index: 2; /* 在主图之上 */
    color: white; /* 字体颜色，根据需要调整 */
    font-size: 24px; /* 字体大小，根据需要调整 */
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 文字阴影，增强可读性 */
  }
  /* 为主图片设置样式 */
  .main-image {
    position: absolute; /* 绝对定位 */
    top: 20%; /* 图片顶部位于容器的垂直中心 */
    left: 0; /* 图片左侧与容器左侧对齐 */
    width: 100%; /* 图片宽度填满容器 */
    height: auto; /* 高度自动，保持宽高比 */
    transform: translateY(-20%); /* 垂直向上移动图片的一半高度，以实现居中 */
  }
  /* CSS */
  .nav-ul {
    list-style: none; /* 移除默认列表样式 */
    padding: 0; /* 移除默认内边距 */
    display: grid; /* 启用 Grid 布局 */
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;/*  设置网格间隔 */
    grid-auto-flow: row dense;
    color = white
  }

  li {
    margin: 2px; /* 为列表项添加外边距 */
    box-sizing: border-box; /* 确保宽度包含外边距和内边距 */
  }
  nav ul {
    list-style: none;
    display: flex;
    position:absolute;
    top: 290px;
    left:25px;
    /* 其他样式 */
  }
  nav ul li {
    font-family:sans-serif;
    font-size:1.5rem;
    margin: 0 15px;
    color: white; /* rgb(180, 39, 39);  字体颜色，根据需要调整 */
  }
  .part{
    display: flex; /* 使用flex布局 */
    margin:0 0 0px 0;
  }


  .container {
    display: flex; /* 使用flex布局 */
    margin: 5px;
  }
  .left-section {
    flex: 2; /* 左侧占比例1 */
    background-color: #f2f2f2; /* 左侧背景颜色 */
    padding: 20px; /* 左侧内边距 */
  }
  .right-section {
    flex: 1; /* 右侧占比例1 */
    background-color: #f2f2f2;                  /*  #e6e6e6; 右侧背景颜色 */
    padding: 20px; /* 右侧内边距 */
    margin:0 0 0 5px;
  }

  }
  .line{
  margin 1px 0 0 0;
  }
  footer {
    text-align: center;
    padding: 10px;
    /* 其他样式 */
  }
    #title-name{
        font-family:fantasy;
        font-size:4rem;
        word-spacing: 30px;

    }
    .quote_content {
        margin-bottom: 20px;
        padding: 10px;
        background-color: #f7f7f7;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    li:last-child {
        margin-bottom: 0;
    }

    .quote-content {
        font-size: 18px;
        color: #333;
        line-height: 1.5;
    }

    .quote-author {
        font-style: italic;
        color: #666;
    }
    .quote-detail{
    display: ; /* 使用flex布局 */
    margin:0 0 0px 0;
  }