/* 样式表 */
html {
    font-family: sans-serif;
    background: #eee;
    padding: 1rem;
}

body {
    margin: 0 auto;
    background: white;
}

h1 {
    color: #377ba8;
    text-align: center;
}

h2, h3, h4, h5, h6 {
    color: #377ba8;
}

a {
    color: #377ba8;
    text-decoration: underline; /* 添加下划线 */
    padding: 2px 5px; /* 添加一些内边距 */
    border-radius: 3px; /* 添加圆角 */
    font-size:1.5rem;

}

hr {
    border: none;
    border-top: 1px solid lightgray;
}

footer {
    text-align: center;
    padding: 10px;
    /* 其他样式 */
  }
/* 为包含图片的父元素设置样式 */
.logo-container {
    position: relative;
    text-align: center;
    height: 30vh;
    overflow: hidden;
}

.title-container {
    position: absolute;
    top: 3%;
    left: 8%;
    transform: translate(-5%, -5%);
    z-index: 2;
    color: white;
    font-size: 24px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* 为主图片设置样式 */
.main-image {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: auto;
    transform: translateY(-20%);
}

/* 导航样式 */
.nav ul {
    list-style: none;
    display: flex;
    position: absolute;
    top: 290px;
}

.nav ul li {
    font-family: sans-serif;
    font-size: 1.5rem;
    margin: 0 15px 0 0;
    color: white;
}
.classify ul li {
    font-family: sans-serif;
    font-size: 1.5rem;
    margin: 15px 0;
}

/* 页面布局 */
.container {
    display: flex;
    margin: 5px;
}

.left-section {
    flex: 2;
    background-color: #f2f2f2;
    padding: 20px;
}

.right-section {
    flex: 1;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0 0 0 5px;
}

/* 名言样式 */
.quote {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.quote-content {
    font-size:1.5rem;
    color: #333;
    line-height: 1.5;
}

.quote-author {
    font-style: italic;
    font-size:1.5rem;
    color: #666;
    text-align: right;
    padding-right: 50px; /* 向左添加一些填充 */

}
.pagination{
    text-align: center;
    font-size:1.5rem;
}
.breadcrumbs {
    font-size:1.5rem;
    margin: 0 0 0 10px;
}
/* 添加连接符样式 */
.separator {
    color: #999; /* 连接符的颜色 */
}

#title-name{
        font-family:fantasy;
        font-size:4rem;
        word-spacing: 30px;

    }
