/* 导航样式 */
/* 导航样式 */
html {
    font-size: 16px; /* 设置根元素的字体大小为 16 像素 */
    min-height: 100%; /* 设置最小高度为屏幕高度 */

}
.nav {
    position: absolute;
    bottom: 10px; /* 距离刊头图片底部的距离 */
    left: 10px; /* 距离刊头图片左侧的距离 */
}

.nav-ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-ul li {
    display: inline;
    margin-right: 10px; /* 导航链接之间的间距 */
}

.nav-ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

/* 页面布局 */
.container {
    display: flex;
    margin: 5px;
}

.left-section {
    flex: 2;
    background-color: #f2f2f2;
    padding: 20px;
}

.right-section {
    flex: 1;
    background-color: #f2f2f2;
    padding: 20px;
    margin-left: 5px;
}

/* 主页图片样式 */
.logo-container {
    position: relative;
    text-align: left;
    height: 30vh;
    overflow: hidden;
}


.main-image {
    background-image: url("/static/title-pic.jpg");
    background-size: cover; /* 让背景图尽可能覆盖整个容器 */
    background-position: center; /* 居中显示背景图 */
    width: 100%; /* 图片宽度占满父容器 */
    height: 100%; /* 图片高度占满父容器 */
}
#title-name {
    position: absolute;
    top: 5px;
    left: 25%;
    transform: translateX(-50%);
    font-family: fantasy;
    font-size: 3rem;
    word-spacing: 30px;
    color: white; /* Ensure title text is visible on the image */
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add text shadow for better visibility */
}
